.form {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.form__error {
    display: block;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    text-align: center;
}
