.footer__link {
    font-size: 13px;
    line-height: 16px;
    color: #FFF;
    text-decoration: none;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 12px;
        line-height: 15px;
    }
}
