.portfolio__item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
    border-bottom: none;
}

.portfolio__link {
    width: 100%;
    position: relative;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
    color: #FFF;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__link::after {
    content: '';
    width: 29px;
    height: 60px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../../images/arrow.svg') no-repeat center;
}

@media screen and (max-width: 1023px) {
    .portfolio__link {
        font-size: 28px;
    }

    .portfolio__link::after {
        width: 28px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__link {
        font-size: 24px;
        line-height: 35px;
    }

    .portfolio__link::after {
        width: 24px;
        height: 35px;
    }
}

@media screen and (max-width: 425px) {
    .portfolio__item {
        min-height: 48px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__link::after {
        width: 18px;
        height: 28px;
    }
}