.promo {
    width: 100%;
    min-height: 524px;
    background-color: #073042;
}

.promo__container {
    padding: 75px 70px;
    display: flex;
    justify-content: space-between;
}

.promo__img {
    width: 310px;
    align-self: baseline;
}

.promo__title {
    margin: 0 auto;
    max-width: 640px;
    text-align: left;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    color: #FFF;
}

.promo__subtitle {
    margin: 36px 0 0 0;
    padding: 0 0 146px 0;
    max-width: 310px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #FFF;
    opacity: 0.5;
}

.promo__link {
    padding: 10px 20px;
    border: #FFF 1px solid;
    border-radius: 3px;
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    line-height: 18px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.promo__link:hover   {
    opacity: 0.7;
}

@media screen and (max-width: 1023px) {
    .promo__container {
        padding: 140px 44px;
        flex-direction: column-reverse;
        gap: 48px;
    }

    .promo__description {
        text-align: center;
    }

    .promo__title {
        text-align: center;
    }

    .promo__subtitle {
        margin: 36px auto 0 auto;
        text-align: center;
    }

    .promo__link {
        text-align: center;
    }

    .promo__img {
        align-self: center;
    }
}

@media screen and (max-width: 425px) {
    .promo__container {
        padding: 70px 10px;
        gap: 44px;
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
        font-weight: 400;
    }

    .promo__img {
        width: 210px;
    }
}