.footer__copyright {
  margin: 0;
  padding: 20px 0 20px 50px;
  max-width: 400px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}