.search {
    padding: 70px 70px 45px;
    background-color: #202020;
}

.search__container {
    min-height: 162px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1023px) {
    .search__container {
        min-height: 170px;
    }

    .search {
        padding: 70px 30px 50px;
    }
}

@media screen and (max-width: 425px) {
    .search {
        padding: 70px 14px 63px;
        gap: 31px;
    }
}
