.checkbox {
    display: none;
}

.checkbox__label {
    width: 36px;
    height: 20px;
    background-color: #343434;
    border: 1px solid #8B8B8B;
    border-radius: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}

.checkbox__label:before{
    content: '';
    width: 16px;
    height: 16px;
    background-color: #A0A0A0;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.checkbox:checked + .checkbox__label::before {
    left: 18px;
    background-color: #3DDC84;
}

.checkbox__container {
    display: flex;
    align-items: center;
    gap: 13px;
}

.checkbox__text {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (max-width: 425px) {
    .checkbox__text {
        font-size: 11px;
    }
}
