.register {
    height: 100vh;
    padding: 70px calc(50% - 198px);
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

.register__title {
    padding: 40px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    cursor: default;
}

.register__flex {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.register__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
}

.register__caption {
    color: #8B8B8B;
}

.register__link {
    color: #4285F4;
    text-decoration: none;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.register__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 425px) {
    .register {
        padding: 56px calc(50% - 130px) 30px;
        align-items: center;
    }

    .register__title {
        padding: 47px 0;
    }

    .register__text {
        font-size: 12px;
        line-height: 15px;
    }
}
