@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Web/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_theme/page_theme_dark.css);
@import url(../blocks/page/_theme/page_theme_light.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/charts/charts.css);
@import url(../blocks/charts/__list/charts__list.css);
@import url(../blocks/chart/chart.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);